body{
  background-color: #111827;
}

.navbar {
  display: flex;
  gap: 3rem;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 24px;
  color: white;
  
  background-color: #334155;
}

.home {
  display: flex;
  padding-left: 50px;
  justify-content: space-between;
  color: white;
  height: 100%;
}

.box1{
  width: 40%;
}

.button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.h {
  font-size: 50px;
}

.p{
  font-size: 35px;
  word-spacing: 5px;
}

.bg-blue {
  color: blue;
}

.link {
  cursor: pointer;
  color: white;
}

.fep {
  font-size: 50px;
  text-align: center;
  color: white;
}

.para {
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

.b1 {
  display: flex;
  justify-content: space-around;
}

.d1{
  width: 41%;
  margin-left: 130px;
}

.stat {
  width: 500px;
}

.theme {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
}